
/*
backhroundColor: #ffe290;
color: #4a5a6e;
you: #1f92ff;
message background color: #f1f3f8;
button color: #028aff;


*/

body {
  background: #ffe290;
  font-family: 'KoHo', sans-serif;
}

.bgColor{
  background: #ffe290;
}
.primaryColor{
  color: #4a5a6e;
}
.b-200{
  font-weight: 200;
}
.b-300{
  font-weight: 300;
}

.b-400{
  font-weight: 400;
}

.b-500{
  font-weight: 500;
}
.b-600{
  font-weight: 600;
}
.b-700{
  font-weight: 700;
}
